// Просто .container не создавать, будет конфликтовать с BootStrap
.container-resp {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container-resp {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-resp {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-resp {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-resp {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-resp {
    max-width: 1320px;
  }
}